::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000;
}

* {
  font: 16px arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

body {
  overflow-x: hidden;
  width: 100%;
}

h1 {
  line-height: inherit;
  text-transform: capitalize;
  color: #070707;
  font-size: 1.5em;
  text-align: center;
  margin: 16px 0;
}

h2 {
  font-size: 1.2em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #090;
}

html {
  -webkit-font-smoothing: antialiased;
}

.root {
  background-color: #f5f6fa;
  padding: 24px;
}

.book-list {
  margin-left: 16px;
}

.filter,
.search {
  margin: 8px 16px;
}

.filter select {
  margin: 0 8px;
}

.search * {
  margin-right: 16px;
}

.empty-section {
  width: 100vw;
}

.list-item {
  margin: 16px;
  padding: 16px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.list-item p {
  margin-bottom: 4px;
}

.state {
  font-weight: bold;
  margin-bottom: 8px;
}

.senator {
  padding: 10px 5px 10px 10px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 16px;
}

.name {
  font-weight: bold;
  color: #111;
  font-size: 24px;
}

.district {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
}

.hr {
  border: 1px solid #e1e4e8;
  margin-bottom: 10px;
}

.footer {
  margin: 16px;
  width: 90%;
}

.footer .source,
.footer .github,
.footer .issues {
  margin: 8px 16px;
}

.footer .source-link {
  margin: 0 8px;
}

#root {
  min-height: 30vh;
}
